In [33]:
# Append function
# add the name in the last in list
name  =  ["ravi","aryan","shivam"]
print("before=",name)
name.append("anshul")
print("after=",name)

before= ['ravi', 'aryan', 'shivam']
after= ['ravi', 'aryan', 'shivam', 'anshul']

In [34]:
# Insert function
# to add name in specific position in list
name.insert(0,"brij")
# print after adding name at index 0
print("Add name at index 0:",name)

Add name at index 0: ['brij', 'ravi', 'aryan', 'shivam', 'anshul']

In [35]:
# Remove function
# to remove the name in list
name.remove("brij")
print(name)

['ravi', 'aryan', 'shivam', 'anshul']

In [32]:
# # Pop function
# # It follows last in first out 
# name.pop(0)
# print(name)

['aryan', 'shivam', 'anshul']

In [36]:
# To Sort the list
name.sort()
print(name)

['anshul', 'aryan', 'ravi', 'shivam']

In [17]:
# # to clear the list
# name.clear()
# print(name)

In [37]:
# Foor Loop
# To print elements in the given list
for names in name:
    print(names)

anshul
aryan
ravi
shivam

In [ ]:
list=["ramesh","ravi","prince","harsh","divyansh"]
print(list)
list.remove("ravi")
print(list)
# list.sort(
# print(list)

In [41]:
# To print the No. 1 to 10
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [50]:
# To print even no. between 1-10
# Method-1
for i in range(1,11):
    if i % 2==0:
        print(i)

2
4
6
8
10

In [51]:
# Method-2
for i in range(2,11,2):
    print(i)

2
4
6
8
10

In [54]:
# Sets
set ={"ryan","yash","anshul"}
print(set)

{'yash', 'ryan', 'anshul', 'ravi'}

In [55]:
# To add the element in tuple
set.add("ravi")
print(set)

{'yash', 'ryan', 'anshul', 'ravi'}

In [56]:
# To remove the element in tuple
set.remove("ravi")
print(set)

{'yash', 'ryan', 'anshul'}

In [66]:
# While Loop
# Print 1-10 in ascending order
i=1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [70]:
# Print 1-10 in decending order
i=10
while i>0:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1

In [73]:
# break function
i=1
while i<11:
    print(i)
    break
    i=i+1

1

In [2]:
# Continue function
i=1
while i<11:
    i=i+1
    print(i)
    continue

2
3
4
5
6
7
8
9
10
11

In [3]:
# function in Python
# create function to print statement
def myfunction():
    print("My function called")

# call the function by name
myfunction()

My function called

In [7]:
# To calculate the Area
x =int(input("Enter the value:"))
y =int(input("Enter the value:"))
def multiply(x,y):
    z =x*y
    print("The area is:",z)
multiply(x,y)

Enter the value: 4
Enter the value: 6

The area is: 24

In [9]:
x =int(input("Enter the value:"))
y =int(input("Enter the value:"))
def multiply(x,y):
    return x*y
    
area =multiply(x,y)
print("The area is:",area)

Enter the value: 4
Enter the value: 6

The area is: 24
The area is: None