In [3]:
# Tuples
# tuples can store the multiple data but data can't be change
tuple =("ravi","ryan","aryan","ravi")
print(type(tuple))

<class 'tuple'>

In [4]:
print(tuple)
# tuple can store duplicate data

('ravi', 'ryan', 'aryan', 'ravi')

In [5]:
# print the name 'Ryan' with indexing
print(tuple[1])

ryan

In [6]:
tuple[1] ="shivam"
print(tuple)
# In tuple we can't update the data.

TypeError: 'tuple' object does not support item assignment

In [8]:
# Using foor loop print tuple
for value in tuple:
    print(value)

ravi
ryan
aryan
ravi

In [9]:
# Dictionary
# It can store multiple data in key value pair
dict ={
    "name":"Rahul",
    "email":"rb19@gmail.com",
    "mobile no.":"1234567890"
}

In [10]:
print(type(dict))

<class 'dict'>

In [11]:
print(dict)

{'name': 'Rahul', 'email': 'rb19@gmail.com', 'mobile no.': '1234567890'}

In [12]:
# USing for loop print Dictionary
for item in dict:
    print(dict[item])

Rahul
rb19@gmail.com
1234567890

In [13]:
# To print the value of any key
print(dict.get("email"))

rb19@gmail.com

In [16]:
# To modify the Dictionary
dict["email"] ="mca24_26@gmail.com"
print(dict)

{'name': 'Rahul', 'email': 'mca24_26@gmail.com', 'mobile no.': '1234567890'}

In [20]:
# OOPS (Object Oriented Programming Structure)
# Class & Object
class Rahul:
    age =21
    print("I  am from Ghaziabad")

I  am from Ghaziabad

In [21]:
# Create the object of the class
a= Rahul()
print(a.age)

21

In [22]:
# Using class print  how old you are
bornyear =int(input("Enter born year:"))
currentyear =int(input("Enter Current year:"))
class Age_calculator:
    ageinyear =currentyear-bornyear
age =Age_calculator()
print(age.ageinyear)

Enter born year: 2003
Enter Current year: 2024

21

In [30]:
# Polymorphism  Method Overloading
def age(dob):
    print(dob)

def age(dob, name):
    print(dob, name)

#x =age("25 may 2003")
y =age("25 may 2003","rahul")

25 may 2003 rahul