In [1]:
print("Rahul Bansal")

Rahul Bansal

In [4]:
name = "Rahul Bansal"
grade = 'A'
salary = 354612
print(name)
print(grade)
print(salary)

Rahul Bansal
A
354612

In [5]:
name = "Rahul Bansal"
grade = 'A'
salary = 354612
print(name,grade,salary)

Rahul Bansal A 354612

In [6]:
# Typecasting convert datatype into another daatatypes.
name = "Rahul Bansal"
grade = 'A'
salary = str(354612)
print(name + grade + salary)

Rahul BansalA354612

In [11]:
# Find the datatype of a variable.
name = "Rahul Bansal"
grade = 'A'
salary = 354612
print(type(salary))
salary = str(354612)
print(type(salary))
print(name + grade + salary)

<class 'int'>
<class 'str'>
Rahul BansalA354612

In [5]:
# change the integer to float.
name = "Rahul Bansal"
grade = 'A'
salary = 354612
print(type(salary))
salary = float(354612)
print(type(salary))
print(name , grade , salary , type(salary))

<class 'int'>
<class 'float'>
Rahul Bansal A 354612.0 <class 'float'>

In [3]:
name = "Rahul Bansal"
grade = 'A'
salary = 354612
age =input("Enter your Age: ")
gender =input("Enter your Gender: ")
print(name,grade,salary,age,gender)

Enter your Age:  21
Enter your Gender:  male

Rahul Bansal A 354612 21 male

In [2]:
born_year = int(input("Enter born year: "))
current_year = int(input("Enter current year: "))
age = current_year - born_year
print("My Age is", age)

Enter born year:  2003
Enter current year:  2024

My Age is 21

In [4]:
born_year = int(input("Enter born year: "))
current_year = int(input("Enter current year: "))
print("My Age is", current_year - born_year)

Enter born year:  2003
Enter current year:  2024

My Age is 21